asgiref
colorama
Django
django-heroku
dj-database-url
gunicorn
iniconfig
Jinja2
MarkupSafe
packaging
pillow
pip
pluggy
psycopg2
pytest
pytest-html
pytest-metadata
python-dotenv
sqlparse
typing_extensions
tzdata
whitenoise
